 <!DOCTYPE html>
<html>
<title>About TestGuru</title>
<body>

<h1>Про TestGuru</h1>
<p>Система TestGuru предназначена для управления тестами. (В настоящий момент ее пока нет, но достаточно скоро) Она позволит вам решать следующие задачи:</p>

<ul>
  <li>
  Создание тестов и управление ими
  </li>
  <li>
  Выполнение тестов
  </li>
  <li>
  Публикация результатов в соцсети
  </li>
</ul>

<a href="http://www.thinknetica.com/">Thinknetica</a>

</body>
</html> 