 <!DOCTYPE html>
<html>
<title>About author</title>
<body>

<h1>Об авторе</h1>
<p>Всем привет! Меня зовут Игорь Удалов, я прохожу курсы Thinknetica и делаю свои самые первые шаги в разработке.</p>
<p>Кстати, вот ссылка на мой github:</p>
<a href="https://github.com/peresvetjke/">Thinknetica</a>

</body>
</html> 