<p><div id="testEndTime" class="hide"><%= (@test_passage.created_at + @test_passage.test.max_time_min.minutes).httpdate %></div></p>

<div id="clockdiv">
  <div>Осталось: <span class="minutes">10</span> мин. <span class="seconds">25</span> сек.</div>
</div>

<p class="Test"></p>