<div id="test-progress">
  <%= tag.div progress(@test_passage, previous = true).to_s + "%", id: "test-bar", data: { progress: progress(@test_passage), prev_progress: progress(@test_passage, previous = true) } %>
</div>