<div id="test-progress">
  <%= tag.div @test_passage.progress(previous = true).to_s + "%", id: "test-bar", data: { progress: @test_passage.progress, prev_progress: @test_passage.progress(previous = true) } %>
</div>