<h2>Вопрос: <%= @answer.question.body %></h2>
<%= render 'shared/errors', resource: @answer %>
<h3>Изменить ответ:</h3>
<%= render 'form' %>

<%= link_to 'Вернуться к вопросу', question_path(@answer.question) %>