<h2>Вопрос: <%= @answer.question.body %></h2>
<h3>Ответ:</h3>
<p>Содержание: <%= @answer.body %></p>
<p>Ответ верный: <%= @answer.correct ? "Да" : "Нет" %></p>

<%= link_to 'Вернуться к вопросу', question_path(@answer.question) %>