#test-progress {
  width: 100%;
  background-color: #ddd;
  position: relative;
}

#test-bar {
  height: 30px;
  background-color: #04AA6D;
  text-align: center;
  line-height: 30px;
  color: white;
}