<h2><%= @test.title %></h2>
<% if @test.questions.present? %>
<ul>
  <% @test.questions.each do |question| %>
  <li>
    <%= question.body %>
  </li>
  <% end %>
</ul>
<% end %>

<p> <%= link_to 'Изменить', edit_test_path %> |
<%= link_to 'Вернуться', tests_path %> </p>